
.inner-hero-sec{
    position: relative;
    padding-top: 20px;
    @media (max-width:767px) {
      height: 400px;
    }
    picture{
        width: 100%;
        height: 100%;
        display: block;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
    }
    .page-title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        width: 100%;
        text-align: center;
        height: 100%;
        display: flex;
    align-items: center;
    justify-content: center;
    }
}



