$primary: #8b1c13;
$text: #2b2b2b;
$border: rgba(139, 28, 19, 0.25);
:root {
  --color-primary: #9E0101;
  --color-secondary: rgba(158, 1, 1, 0.75);
  --color-third: rgba(158, 1, 1, 0.5);
  --color-fourth: rgba(158, 1, 1, 0.25);
  --color-text: rgba(0, 0, 0, 0.75);
  --color-bg: #FFFFFF;
}

.appointment-section {
  position: relative;
  background: #fff;

  .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    position: relative;
  }



  .appointment-grid {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 60px;
    align-items: start;
  }

  /* LEFT */
  .appointment-left {
    .contact-info {
      list-style: none;
      padding: 0;
      margin-bottom: 30px;

      li {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        color: $primary;
        .icon {
          margin-right: 12px;
          svg{
            width: 15px;
            height: 15px;
          }
        }

        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }

    .map-wrapper {
      border-radius: 12px;
      overflow: hidden;
      height: 280px;

      iframe {
        width: 100%;
        height: 100%;
        border: 0;
      }
    }
  }

  /* RIGHT */
  .appointment-form {
    .form-group {
      margin-bottom: 30px;

      label {
        display: block;
        font-size: 14px;
        margin-bottom: 8px;
        color: $text;
      }

      input,
      textarea {
        width: 100%;
        border: none;
        border-bottom: 1px solid $border;
        padding: 8px 0;
        font-size: 15px;
        outline: none;
        background: transparent;

        &:focus {
          border-color: $primary;
        }
      }
    }

    .btn-submit {
      margin-top: 10px;
      padding: 14px 36px;
      border-radius: 40px;
      background: transparent;
      border: 1px solid $primary;
      color: $primary;
      font-size: 16px;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      gap: 10px;
      transition: all 0.3s ease;

      &:hover {
        background: $primary;
        color: #fff;
      }
    }
  }

  /* BLOBS */
  .blob {
    position: absolute;
    // background: radial-gradient(circle, #c94a3a, #8b1c13);
    opacity: 0.8;
    border-radius: 50%;

    &.blob-top {
      img{
        width: 200px;
        height: 200px;
        top: -20%;
        right: 20%;
         @media (max-width:767px) {
        width: 100px;
      height: 100px;
      }
      }

    }
  }

  /* RESPONSIVE */
  @media (max-width: 992px) {
    .appointment-grid {
      grid-template-columns: 1fr;
    }
  }
}


.btn-wrap{
    a{

        margin-top: 10px;
    }
}