.gatsby-image-wrapper{
    width: 100%;
    height: 100%;
}



.inner-hero-sec {
  position: relative;
  width: 100%;
  height: 300px; /* controls hero height */
  overflow: hidden;
}

.inner-hero-img {
  position: absolute !important;
  inset: 0;
}

.inner-hero-img .gatsby-image-wrapper {
  width: 100%;
  height: 100%;
}

.inner-hero-img img {
  object-fit: cover;
}

.page-title {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
