.gatsby-image-wrapper{
    width: 100%;
    height: 100%;
}



.inner-hero-sec {
  position: relative;
  width: 100%;
  height: 300px; /* controls hero height */
  overflow: hidden;
}

.inner-hero-img {
  position: absolute !important;
  inset: 0;
  display: none;
}

.inner-hero-img .gatsby-image-wrapper {
  width: 100%;
  height: 100%;
}

.inner-hero-img img {
  object-fit: cover;
}

.page-title {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.blog-detail h1{
  width: 70%;
}

/* ===========================
   MOBILE MENU SLIDE IN
   =========================== */
.mobile-menu{
display: none;
}
@media (max-width: 991px) {
  .mobile-menu {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 85%;
    max-width: 360px;
    height: 100vh;
    background: #fff;
    padding: 35px 24px 24px;
    box-shadow: 6px 0 30px rgba(0, 0, 0, 0.18);
    transform: translateX(-100%);
    transition: transform 0.45s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
  }

  .mobile-menu.open {
    transform: translateX(0);
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  .mobile-menu a,
  .mobile-expertise-toggle {
    /* font-size: 18px; */
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    color: #b33b3b;
  }

  .mobile-menu .btn-primary{
    background: #b33b3b;
    color: #fff;
    margin-top: 0;
  }

  
}


/* ===========================
   MOBILE EXPERTISE DROPDOWN
   =========================== */

@media (max-width: 991px) {
  .mobile-expertise-list {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-8px);
    transition:
      max-height 0.45s ease,
      opacity 0.3s ease,
      transform 0.3s ease;
    margin-left: 12px;
  }

  .mobile-expertise-list.open {
    max-height: 600px;
    opacity: 1;
    transform: translateY(0);
  }

  .mobile-expertise-list a {
    display: block;
    /* font-size: 16px; */
    padding: 8px 0;
    color: #b36e6e;
  }
}


@media (max-width: 991px) {
  .mobile-expertise-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    border: none;
    width: 100%;
    padding: 0;
  }

  .mobile-expertise-toggle svg {
    transition: transform 0.35s ease;
  }

  .mobile-dropdown.open .mobile-expertise-toggle svg {
    transform: rotate(180deg);
  }
}


@media (max-width: 991px) {
  .mobile-expertise-list {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-8px);
    transition:
      max-height 0.45s ease,
      opacity 0.3s ease,
      transform 0.3s ease;
    margin-left: 12px;
  }

  .mobile-expertise-list.open {
    max-height: 600px;
    opacity: 1;
    transform: translateY(0);
  }

   .mobile-expertise-list a{
    position: relative;
   }
  
}





